@charset "UTF-8";
/* MINDsLab. NBR. 20200902 */

/* common css file */
@import url("reset.css");
@import url("font.css");

/* -------------------- header -------------------- */
#header .title_box {width: 100%; height: 50px; padding: 0 20px; border-bottom: 1px solid rgba(233,241,243,0.2); box-sizing: border-box;}
#header .title_box h1 {float: left; height: 100%;}
#header .title_box h1 .logo {display: inline-block; height: 30px; margin: 10px 0;}
#header .title_box h1 .title {display: inline-block; height: 100%; padding: 12px 20px 0; border-left: 1px solid rgba(233,241,243,0.2); box-sizing: border-box; color: #E9F1F3; font-size: 18px;}

#header .title_box .etc_box {float: right; height: 100%; padding: 10px 0; box-sizing: border-box;}
#header .title_box .etc_box > div {float: left;}
#header .title_box .etc_box .user_account {overflow: hidden; width: 150px; height: 30px; margin: 0 10px 0 0; padding: 0 5px; border-radius: 3px; box-sizing: border-box; background: rgba(255,255,255,0.5); text-overflow: ellipsis; line-height: 30px; white-space: nowrap;}
#header .title_box .etc_box .btn_logout {display: block; height: 30px; line-height: 28px;}
#header .title_box .etc_box .btn_logout a {display: block; background: #009583; color: #fff;}
#header .title_box .etc_box .btn_logout a:hover {border: 1px solid #E9F1F3;}
#header .title_box .etc_box .btn_logout img {margin: -2px 0 0; vertical-align: middle;}

#header .gnb {display: flex; position: relative; width: 100%; z-index: 5;}
#header .gnb > li {flex: 1;}
#header .gnb > li h3 {position: relative; background: #fff; color: #174b56; font-size: 14px; text-align: center; line-height: 40px; cursor: pointer; transition: background 0.3s ease-out;}
#header .gnb > li.active h3 {border-left: 1px solid #C7D0D3; border-right: 1px solid #C7D0D3; background: #fff;}
#header .gnb li.current h3,
#header .gnb li.current > a {color: #00829d;}

#header .gnb .sub {display: none; border: 1px solid #C7D0D3; border-top: none; box-shadow: 0 1px 4px 0 rgba(44, 63, 81, 0.1); background: #fff;}
#header .gnb .sub li a {display: inline-block; width: 100%; height: 100%; padding: 0 20px; box-sizing: border-box; line-height: 40px;}
/* #header .gnb .sub li a:hover {color: #00829d;} */
#header .gnb .sub li a:hover {text-decoration: underline;}
#header .gnb .sub > li > a {font-weight: 700;}
#header .gnb .sub > li.down > a {background: url('../images/arw_bottom_bk.png')right 20px top 50% no-repeat;}
#header .gnb .sub > li.up > a {background: url('../images/arw_top_bk.png')right 20px top 50% no-repeat;}

#header .gnb .third {display: none;}
#header .gnb .third > li {font-size: 12px;}
#header .gnb .third > li:last-child {padding: 0 0 15px;}
#header .gnb .third > li a {padding: 0 30px; line-height: 25px;}


/* -------------------- 탭기능 style -------------------- */
/* -- 추가 200915 AMR 탭메뉴 css/script -- */
.tab_title {position: relative;}
.tab_title.dropOn .tab_dropdown {display: block;}
.tab_title.dropOn .tab_list_wrap {width: calc(100% - 110px);}
.tab_title li.active {background: #fff;}
.tab_title .btn_close {display: inline-block; position: relative; width: 20px; height: 20px; margin: 0 0 0 10px; line-height: 40px; vertical-align: middle;}
.tab_title .btn_close:before {content: ''; position: absolute; top: 4px; left: 12px; width: 2px; height: 12px; border-radius: 1px; background: #3f3f3f; transform: rotate(45deg);}
.tab_title .btn_close:after {content: ''; position: absolute; top: 4px; left: 12px; width: 2px; height: 12px; border-radius: 1px; background: #3f3f3f; transform: rotate(-45deg);}
.tab_title .btn_close span {display: inline-block; overflow: hidden; text-indent: -999px;}

.tab_list_wrap {overflow: hidden; position: relative; width: 100%; height: 40px;}
.tab_list {position: absolute; top: 0; left: 0;}
.tab_list li {display: inline-block; position: relative; min-width: 80px; height: 40px; margin: 0 10px 0 0; padding: 0 10px; border-radius: 4px 4px 0 0; background: #f0f0f0; font-size: 13px; vertical-align: bottom; text-align: center; cursor: pointer;}
.tab_list li a:first-child {line-height: 40px; vertical-align: middle;}
.tab_list li.active a:first-child {font-weight: 700;}

.tab_dropdown {display: none;}
.tab_dropdown .btnBox {position: absolute; top: 5px; right: 0;}
.tab_dropdown .btnBox .btn_tab_allDlt {margin: 0 6px 6px; background: #009583; color: #fff; line-height: 28px;}
.tab_dropdown .btn_open {position: relative; width: 25px; height: 30px; margin: 0 0 6px; padding: 0;}
.tab_dropdown .btn_open span {display: inline-block; overflow: hidden; text-indent: -999px;}
.tab_dropdown .btn_open em {position: absolute; top: 50%; left: 0; width: 25px; height: 3px; background: #3f3f3f; transform: translate(0, -50%);}
.tab_dropdown .btn_open em:before {content: ''; position: absolute; top: -10px; left: 0; width: 25px; height: 3px; background: #3f3f3f;}
.tab_dropdown .btn_open em:after {content: ''; position: absolute; left: 0; bottom: -10px; width: 25px; height: 3px; background: #3f3f3f;}
.tab_dropdown .dropdown_list {display: none; overflow: auto; position: absolute; top: 100%; right: 0; height: auto; max-height: 500px; border-radius: 3px; box-shadow: 0 15px 35px rgba(50,50,90,0.2), 0 5px 15px rgba(0,0,0,0.07); background: #fff; z-index: 3;}
.tab_dropdown .dropdown_list.active {display: block;}
.tab_dropdown .dropdown_list li a {display: inline-block; width: 100%; height: 100%; padding: 0 15px; box-sizing: border-box; font-weight: 700; line-height: 35px;}
.tab_dropdown .dropdown_list li a:hover {color: #009583;}
.tab_dropdown .dropdown_list li.active {background: #009583;}
.tab_dropdown .dropdown_list li.active a {color: #fff; font-weight: 700;}
.tab_content {padding: 10px; border-radius: 0 3px 3px 3px; box-shadow: 0 1px 4px 0 rgba(44, 63, 81, 0.1); box-sizing: border-box; background: #fff;}
.tab_content:empty {padding: 0;}

/* -------------------- contents -------------------- */
#container .tabArea {height: 40px; padding: 0 20px; background: #f9f4f4;}
#container .tabArea li {display: inline-block; width: 200px; border-radius: 3px 3px 0 0; line-height: 40px;}
#container .tabArea li.active {background: #e8f1f3;}
#container .tabArea li a {display: inline-block; width: 100%; padding: 0 10px; box-sizing: border-box;}
#contents h4 {margin: 0 0 15px; font-size: 18px;}

/* -------------------- common -------------------- */
/* scrollbar - chrome만 적용됨 */
::-webkit-scrollbar {width: 6px; height: 6px; border-radius: 3px;}  /* 스크롤바의 width */
::-webkit-scrollbar-track {background: transparent;}  /* 스크롤바의 전체 배경색 */
::-webkit-scrollbar-thumb {border-radius: 3px; background: rgba(25, 42, 57, 0.3);}  /* 스크롤바 색 */
::-webkit-scrollbar-button {display: none;}  /* 위 아래 버튼 (버튼 없애기를 함) */
/* //scrollbar */

/* color */
/* background color */
.bg_blue {background-color: #00829d;}
.bg_green {background-color: #009583;}
.bg_gray {background-}

/* border color */
.bd_blue {border-color: #00829d;}
.bd_green {border-color: #009583;}
.bd_gray {border-}
/* //color */

/* float */
.fl {float: left;}
.fr {float: right;}
/* //float */

/* hide */
.hide {position: absolute; top: 0; left: 0; clear: both; overflow: hidden; width: 0; height: 0; margin: 0; padding: 0; line-height: 0;}
/* //hide */

/* btnBox */
.btnBox {display: block;}
.btnBox a {display: inline-block; padding: 0 20px; border: 1px solid transparent; border-radius: 3px; box-sizing: border-box; text-align: center; vertical-align: middle;}
.btnBox a:hover {box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1); transition: all 0.3s ease-out;}
/* //btnBox */

/* iptBox */
.iptBox {display: inline-block; position: relative;}
.iptBox input {display: inline-block; width: 100%; height: 30px; padding: 0 5px; border: 1px solid #E9F1F3; border-radius: 3px; box-sizing: border-box; background: #fff; color: inherit;}
.iptBox input:focus {border: 1px solid rgba(11,42,74,0.4); box-shadow: 0 2px 3px rgba(11, 42, 74, 0.1); transition: all 0.3s ease-out;}
.iptBox input label {}
/* //iptBox */

/* chkBox */
.chkBox {display: inline-block;}
.chkBox input[type="checkbox"] {position: absolute; overflow: hidden; width: 1px; height: 1px; margin: -1px; padding: 0; clip: rect(0,0,0,0); border: 0;}
.chkBox input[type="checkbox"] + label {display: inline-block; position: relative; padding: 0 0 0 23px; font-size: 12px; cursor: pointer;}
.chkBox input[type="checkbox"] + label:before {content: ''; position: absolute; top: 2px; left: 0; width: 15px; height: 15px; line-height: 15px; text-align: center; border: 1px solid rgba(11,42,74,0.3); border-radius: 3px; background: #fff;}
.chkBox input[type="checkbox"]:checked + label:before {content: '\2713'; border-color: #00829d; background: #00829d; color: #fff;}
.chkBox input[type="checkbox"]:checked + label {color: #00829d;}
.chk_only_box {display: inline-block; position: relative; margin: 0;}
.chk_only_box input[type="checkbox"] {margin: -1px; padding: 0; clip: rect(0,0,0,0); border: 0;}
.chk_only_box input[type="checkbox"]:before {content: ''; position: absolute; top: 0; left: 0; width: 17px; height: 17px; margin: -1px 0 0 0; line-height: 15px; text-align: center; border: 1px solid rgba(11,42,74,0.3); border-radius: 3px; box-sizing: border-box; background: #fff; cursor: pointer;}
.chk_only_box input[type="checkbox"]:checked:before {content: '\2713'; color: #fff; border-color: #009583; background: #009583;}
/* //chkBox */

/* select */
.select {display: inline-block; height: 30px; padding: 0 20px 0 5px; font-size: 13px; border: 1px solid #C7D0D3; border-radius: 3px; background: #fff url(../images/arw_bottom_bk.png) right 7px top 50% no-repeat; transition: all 0.3s ease-out;}
.select:focus {border: 1px solid rgba(11,42,74,0.4); box-shadow: 0 2px 3px rgba(11, 42, 74, 0.1); transition: all 0.3s ease-out;}
/* //select */

/* scroll select */
.sltBox.custom select {display: none;}
.slt_scroll {display: block; position: relative; padding: 0 20px 0 5px; border-radius: 3px; border: 1px solid #C7D0D3; box-sizing: border-box; background: #fff url(../images/arw_bottom_bk.png) right 7px top 50% no-repeat; line-height: 28px; white-space: nowrap; cursor: pointer; outline: none;}
.sltBox.disabled .slt_scroll {background: #f0f0f0; color: #8f8f8f; cursor: default;}
.slt_scroll:focus {border: 1px solid rgba(11,42,74,0.4); box-shadow: 0 2px 3px rgba(11, 42, 74, 0.1); transition: all 0.3s ease-out;}
.sltBox.disabled .slt_scroll:focus {border: 1px solid #C7D0D3; box-shadow: none;}
.slt_scroll:active,
.slt_scroll.open {box-shadow: 0 2px 3px rgba(11, 42, 74, 0.1); transition: all 0.3s ease-out;}
.slt_scroll.open .list {-webkit-transform: scaleY(1); transform: scaleY(1); opacity: 1; pointer-events: auto;}
.slt_scroll.open .option {cursor: pointer;}
.slt_scroll.wide {width: 100%;}
.slt_scroll.wide .current_option {display: inline-block; overflow: hidden; width: 100%; text-overflow: ellipsis;}
.slt_scroll .list {overflow: auto; position: absolute; top: 100%; left: 0; width: 100%; max-height: 260px; margin: 4px 0 0; padding: 4px 0; border: 1px solid rgba(11,42,74,0.4); border-radius: 3px; box-shadow: 0 2px 3px rgba(11, 42, 74, 0.1); box-sizing: border-box; background: #fff; transition: transform 0.2s ease-out; -webkit-transform: scaleY(0); transform: scaleY(0); -webkit-transform-origin: 50% 0; transform-origin: 50% 0; opacity: 0; pointer-events: none; z-index: 10;}
.slt_scroll .list:hover .option:not(:hover) {background: transparent;}
.slt_scroll .option {padding: 0 10px; line-height: 25px; transition: all 0.3s ease-out; outline: none;}
.slt_scroll .option:hover,
.slt_scroll .option:focus {background: #f6f6f6;}
.slt_scroll .option.selected:focus {background: #f6f6f6;}
/* //scroll select */

/* Table(View,Edit) */
.tbl_line_view {width: 100%; table-layout: fixed;}
.tbl_line_view tbody {border-top: 2px solid #799398; border-bottom: 2px solid #799398;}
.tbl_line_view tbody th {border: 1px solid #c7d0d3; background: #f3f8f9; padding: 5px;  text-align: center;}
.tbl_line_view tbody td {border: 1px solid #c7d0d3; background: #f3f8f9; padding: 5px;  text-align: left;}
.tbl_line_view tbody td {background:#fff;}
.tbl_line_view tbody tr th:first-child {border-left: none;}
.tbl_line_view tbody tr td:last-child {border-right: none;}
/* //Table(View,Edit) */

/* srchArea */
.srchArea {width: 100%; margin: 0 0 20px;}
.srchArea tbody td {padding: 5px;}
.srchArea tbody td .iptBox {width: 100%;}
.srchArea tbody td input {border-color: #C7D0D3;}
.srchArea tbody td input.iptDateTime {width: 140px; background: url('../images/ico_calendar.png')100% 50% no-repeat; background-size: 20px;}
.srchArea tbody td select {width: 100%;}
.srchArea .btnBox {padding: 7px 0 0; text-align: right;}
.srchArea .btnBox a {margin: 0 2px; padding: 0 20px; background: #009583; color: #fff; line-height: 28px;}
/* //srchArea */

/* srchBox */
.srchBox {display: inline-block; position: relative;}
.srchBox input {display: inline-block; width: 100%; height: 30px; padding: 0 5px; border: 1px solid #C7D0D3; border-radius: 3px; box-sizing: border-box; background: #fff; color: inherit;}
.srchBox input:focus {border: 1px solid rgba(11,42,74,0.4); box-shadow: 0 2px 3px rgba(11, 42, 74, 0.1); transition: all 0.3s ease-out;}
.srchBox .btn_srch {display: inline-block; position: absolute; top: 0; right: 0; width: 40px; height: 100%; border-radius: 0 3px 3px 0; background: #009583 url('../images/ico_srch_w.png') 50% 50% no-repeat; background-size: 20px;}
.srchBox .btn_srch span {display: inline-block; overflow: hidden; text-indent: -999px;}
/* //srchBox */

/* layer popup */
.lyr_bg_dim {overflow: hidden;}
.lyr_bg_dim:after {content: ''; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.5); z-index: 999;}
.lyrBox {display: none; overflow: hidden; position: absolute; top: 50%; left: 50%; width: 500px; min-height: 150px; border-radius: 3px; box-shadow: 0 1px 4px 0 rgba(44, 63, 81, 0.1); background: #fff; transform: translate(-50%, -50%); z-index: 9999;}
.lyrBox .lyr_hd {height: 40px; padding: 0 20px; background: #4e8692; color: #fff; line-height: 40px;}
.lyrBox .lyr_hd .title {font-size: 16px; font-weight: 700;}
.lyrBox .lyr_hd .btn_lyr_close {overflow: hidden; float: right; width: 16px; height: 16px; margin: 12px 0 0; background: url(../images/ico_close.png) 50% 50% no-repeat; background-size: contain; text-indent: -999px;}
.lyrBox .lyr_ct {padding: 0 20px;}
.lyrBox .lyr_ct p {padding: 20px; font-size: 15px; text-align: center;}
.lyrBox .lyr_ft {padding: 20px;}
.lyrBox .lyr_ft .btnBox {text-align: center;}
.lyrBox .lyr_ft .btnBox a {min-width: 70px; margin: 0 3px; color: #fff; line-height: 30px;}
.lyrBox .lyr_ft .btnBox a.btn_lyr_save {background: #009583;}
.lyrBox .lyr_ft .btnBox a.btn_lyr_close {background: #7f8185;}
.lyr_notify {width: 300px; min-height: 100px; background: #fff; color: #009583; font-size: 15px; font-weight: 700; line-height: 100px; text-align: center;}
.lyr_hide{-webkit-animation-duration: 0.5s; animation-duration: 0.5s; -webkit-animation-fill-mode: both; animation-fill-mode: both; -webkit-animation-name: lyr_hide; animation-name: lyr_hide;}

/* keyframes */
@-webkit-keyframes lyr_hide {
    0% {opacity: 1;}
    100% {opacity: 0;}
}
@keyframes lyr_hide {
    0% {opacity: 1;}
    100% {opacity: 0;}
}
/* //layer popup */

/* 개별 layer popup */
/* STT 오류수정 */
#lyr_stt_edit .lyr_ct span {display: block; margin: 0 0 5px; font-size: 14px; font-weight: 700;}
#lyr_stt_edit .lyr_ct span small {color: #ff1616;}
#lyr_stt_edit .lyr_ct > div {padding: 10px 0 0;}
#lyr_stt_edit .lyr_ct .textBox {overflow: auto; width: 100%; height: 100px; padding: 5px; border: 1px solid #C7D0D3; border-radius: 3px; box-sizing: border-box;}
#lyr_stt_edit .lyr_ct .textArea_original {padding: 20px 0 15px; border-bottom: 1px dotted #C7D0D3;}
#lyr_stt_edit .lyr_ct .textArea_original div.textBox {background: #f0f0f0;}
#lyr_stt_edit .lyr_ct .textArea_edit textarea.textBox {display: inline-block; background: #fff;}
/* //STT 오류수정 */

/* 클립보드 */
.table_clipboard {position: absolute; top: 0; left: 0; width: 1px; height: 1px; margin: 0; padding: 0; border: 0;}
#lyr_clipboard {background: #4e8692; color: #fff;}
/* //클립보드 */
/* //개별 layer popup */

/* context menu */
.contextMenu {display: none; position: absolute; overflow: hidden; width: 200px; margin: 0; padding: 0; border-radius: 3px; box-shadow: 0 15px 35px rgba(50,50,90,0.2), 0 5px 15px rgba(0,0,0,0.07); box-sizing: border-box; background: #fff; z-index: 999;}
.contextMenu li {padding: 0 10px; box-sizing: border-box; transition: all 0.3s ease-out;}
.contextMenu li + li a {border-top: 1px dashed #4d8691;}
.contextMenu li a {display: block; padding: 10px 10px 10px 20px; background: url('../images/ico_arw_circle.png') 0 50% no-repeat; background-size: 15px; transition: background-color 0.3s ease-out;}
.contextMenu li:hover {background: #4d8691; color: #fff;}
.contextMenu li:hover a {background: url('../images/ico_arw_circle_w.png') 0 50% no-repeat; background-size: 15px; color: #fff;}
/* //context menu */
