@charset "UTF-8";
/* MINDsLab. NBR. 20200902 */

/* Malgun Gothic */
@font-face {
    font-family: 'Malgun Gothic';
    font-style: normal;
    font-weight: 400;
    src: url('../font/MalgunGothicRegular.otf') format('opentype');
    src: url('../font/MalgunGothicRegular.woff') format('woff'),
         url('../font/MalgunGothicRegular.woff2') format('woff2');
}

@font-face {
    font-family: 'Malgun Gothic';
    font-style: normal;
    font-weight: 700;
    src: url('../font/MalgunGothicBold.otf') format('opentype');
    src: url('../font/MalgunGothicBold.woff') format('woff'),
         url('../font/MalgunGothicBold.woff2') format('woff2');
}
