@charset "UTF-8";
/* MINDsLab. NBR. 20200902 */

/* login page */
.login_wrap {position: relative; width: 100%; height: 100vh; background: #E9F1F3;}
.login_area {display: inline-block; position: absolute; top: 50%; left: 50%; width: 900px; height: 580px; padding: 50px 0; border-radius: 4px; box-shadow: 0 10px 20px 4px rgba(44, 63, 81, 0.1); box-sizing: border-box; background: #fff; transform: translate(-50%, -50%);}
.login_area > div {display: table; height: 100%; box-sizing: border-box;}
.login_area > div > div {display: table-cell; vertical-align: middle;}

.img_box {width: 520px; padding: 0 30px; border-right: 2px solid #E9F1F3; text-align: center;}
.img_group h1 {margin: 0 0 30px; font-size: 30px; line-height: 1.6;}
.img_group .logo_img {display: inline-block; width: 280px;}
.img_group .bg_img {width: 100%;}

.login_box {width: 380px; padding: 0 50px;}
.login_group h2 {margin: 0 0 20px; font-size: 34px; font-weight: 700; line-height: 1.6;}
.login_group .login_form > input {display: block; width: 100%; height: 40px; margin: 0 0 20px; padding: 0 8px 0 26px; border: none; border-bottom: 1px solid #E9F1F3; box-sizing: border-box;}
.login_group .login_form > #user_id {background: url('../images/ico_id_g.png')0 50% no-repeat;}
.login_group .login_form > #user_id.on {background: url('../images/ico_id_b.png')0 50% no-repeat;}
.login_group .login_form > #user_pw {margin: 0 0 10px; background: url('../images/ico_pw_g.png')0 50% no-repeat;}
.login_group .login_form > #user_pw.on {margin: 0 0 10px; background: url('../images/ico_pw_b.png')0 50% no-repeat;}
.login_group .login_form .chkBox {margin: 0 0 20px;}
.login_group .login_form .login_error {display: none; margin: 0 0 10px; font-size: 12px; color: #f00; font-size: 12px;}
.login_group .login_form .login_error.on {display: block;}
.login_group .login_form .btnBox a {width: 100%; border-radius: 25px; color: #fff; font-size: 16px; font-weight: 700; line-height: 50px;}
