@charset "UTF-8";
/* MINDsLab. NBR. 20200902 */

/* -------------------- contents -------------------- */
#wrap {width: 100%; height: 100%;}
#container {display: table; table-layout: fixed; width: 100%; height: 100%; box-sizing: border-box;;}
#container h1 {margin: 0 0 15px; font-size: 18px;}
.popup_wrap {width: 1240px; max-width: 1240px; height: 100%; padding: 20px; box-sizing: border-box; background: #e9f1f3;}
.popup_wrap.small {width: 340px; max-width: 340px; padding: 20px 10px; background: #e9f1f3;}

/* -------------------- pop_cs_stt_type1 page -------------------- */
/* customInfo */
.customInfo {width: 100%; margin: 0 0 20px; padding: 10px; border-radius: 3px; box-shadow: 0 1px 4px 0 rgba(44, 63, 81, 0.1); box-sizing: border-box; background: #fff;}
.customInfo tbody td .custom_info {display: inline-block; width: 100%; padding: 5px; border: 1px solid #C7D0D3; border-radius: 3px; box-sizing: border-box;}
.customInfo tbody td .consult_time {width: 120px; background-image: none;}
.customInfo tbody td .custom_info_box:focus {border: 1px solid #C7D0D3; box-shadow: none;}
/* //customInfo */

/* player */
.player {display: inline-block; padding: 5px 0; height: 30px;}
.playerBox {display:inline-block; float: left; height:100%; color:#333; line-height:24px; border-radius:5px; box-sizing:border-box; background:rgba(255,255,255,0.1);}
.playerBox button {width:100%; height:100%; border:none; background:#ccc; box-sizing:border-box;}
.playerBox button span {display:block; overflow:hidden; text-indent:-999px;}
.playerBox>span {height:100%; font-size:11px; box-sizing:border-box;}
.playerBox>div{display:inline-block; position:relative; height: 100%; margin:0 6px 0 0; text-align:center; vertical-align:middle; box-sizing:border-box; line-height: 30px;}

.playerBox .player_button {width:15px; margin: 0 12px 0 0;}
.playerBox .player_button button {display:block; font-size:11px; line-height:20px; text-indent:0; border:none; border-radius:3px;}
.playerBox .player_button button:active:not(.disabled):hover:not(.disabled) {border: 1px solid transparent !important; background: none !important;}
.playerBox .player_button button.btn_player_speedDown {background:#fff url("../images/ico_player_speedDown.png") 50% 50% no-repeat; background-size:contain;}
.playerBox .player_button button.btn_player_play {background:#fff url("../images/ico_player_play.png") 50% 50% no-repeat; background-size:contain;}
.playerBox .player_button button.btn_player_play.pause {background:#fff url("../images/ico_player_pause.png") 50% 50% no-repeat; background-size:contain;}
.playerBox .player_button button.btn_player_speedUp {background:#fff url("../images/ico_player_speedUp.png") 50% 50% no-repeat; background-size:contain;}

.playerBox .player_speed {width:30px;}
.playerBox .player_speed span {display:inline-block; height:16px; padding:0 7px; color:#fff; font-size:11px; line-height:16px; border-radius:10px; background:#9ca4b9;}

.playerBox .player_bar {height: auto;}
.playerBox .player_bar .player_bar_streaming {display:flex; position:relative; width: 200px; height:12px; margin:0; flex-basis:0; flex-grow:1; cursor:pointer;}
.playerBox .player_bar .player_bar_streaming:before {content:''; position:absolute; top:5px; width:100%; height:4px; border-radius:10px; background-color:#c2c8d8;}
.playerBox .player_bar .player_bar_streaming > em {position:absolute; left:0; top:5px;}
.playerBox .player_bar .player_bar_streaming .player_bar_loaded {height:4px; background:rgba(0,0,0,0.05); z-index:1;}
.playerBox .player_bar .player_bar_streaming .player_bar_played {flex-direction:row-reverse; height:4px; border-radius:10px; background:#5e77ff; z-index:2;}
.playerBox .player_bar .player_bar_streaming .player_bar_played:after {content:''; display:flex; position:absolute; top:-4px; right:-1px; border:2px solid #fff; width:12px; height:12px; margin-right:-5px; border-radius:6px; box-shadow:0 0 7px rgba(0,0,0,0.5); background:#a6adbf; box-sizing:border-box; transition:all 0.2s ease-out;}
.playerBox.playing .player_bar .player_bar_streaming .player_bar_played:after {background:#5e77ff; transition:all 0.2s ease-out;}

.playerBox .player_time {width:60px; font-size:11px;}
.playerBox .player_time .current {color:#787a8a;}
.playerBox .player_time .duration {color:#35384d;}

.playerBox .player_volume {width:100px;}
.playerBox .player_volume .player_bar_button {width:24px; height:24px; line-height: 24px; cursor:pointer;}
.playerBox .player_volume .player_bar_button a {display: inline-block; width: 20px; height: 20px; margin: 0 6px 0 0; background: url('../images/ico_volume.png') 50% 50% no-repeat; background-size: 20px; vertical-align: middle;}
.playerBox .player_volume .player_bar_button a:before, .playerBox .player_volume .player_bar_button a:after {content:''; position:absolute;}
.playerBox.muted .player_volume .player_bar_button a {background-color:#4f5669;}
.playerBox.muted .player_volume .player_bar_button a:before {border-right:9px solid #4f5669;}
.playerBox.muted .player_volume .player_bar_button a:after {display:none;}

.playerBox .player_volume .player_bar_adjust {position:absolute; top:50%; right:5px; margin:-2px 0 0 0;}
.playerBox .player_volume .player_bar_adjust span {display:flex; overflow:hidden; position:relative; width:60px; height:4px; border-radius:5px; background-color:#c2c8d8; cursor:pointer;}
.playerBox .player_volume .player_bar_adjust span em {position:absolute; top:0; left:0; height:4px; background-color:#009583;}
.pyr_speed {display: inline-block; float: left; margin: 0 0 0 4px;}
.pyr_speed .select {padding: 0 25px 0 5px; border: 1px solid #C7D0D3;}
/* //player */

/* term_srch_box */
.term_srch_box {display: inline-block; float: right; padding: 5px 0;}
.term_srch_box.on .srchBox .txtIndex {display: block;}
.term_srch_box.on .btn_index_move {display: inline-block;}
.term_srch_box .srchBox {width: 300px; height: 30px;}
.term_srch_box .srchBox input {padding: 0 80px 0 5px;}
.term_srch_box .srchBox .txtIndex {display: none; position: absolute; top: 7px; right: 47px;}
.term_srch_box .btn_index_move {display: none; vertical-align: top;}
.term_srch_box .btn_index_move a {display: block; width: 15px; height: 15px; padding: 0; box-sizing: border-box;}
.term_srch_box .btn_index_move a:hover {border: 1px solid #C7D0D3;}
.term_srch_box .btn_index_move a img {width: 100%;}
/* //term_srch_box */

/* dataTable */
.dataTableBox {width: 100%; padding: 10px; border-radius: 3px; box-shadow: 0 1px 4px 0 rgba(44, 63, 81, 0.1); box-sizing: border-box; background: #fff;} /* datatable을 감싸는 박스 추가 */
table.dataTable {table-layout: fixed;}
.dataTables_wrapper {width: 100%; text-align: center;}
.dataTables_wrapper .dataTables_info {position: absolute; left: 115px; padding: 10px 0 0; line-height: 31px;}
div.dt-buttons {position: static; float: right; margin: 10px 0 0; height: 30px;}
button.dt-button, div.dt-button, a.dt-button, button.dt-button:active:not(.disabled), button.dt-button:hover:not(.disabled), div.dt-button:hover:not(.disabled), a.dt-button:hover:not(.disabled),button.dt-button:focus:not(.disabled), div.dt-button:focus:not(.disabled), a.dt-button:focus:not(.disabled), button:active:not(.disabled):hover:not(.disabled) {margin: 0 !important; padding: 5px 15px !important; border: none !important; border-radius: 3px !important; box-shadow: none !important; background: #009583 !important; color: #fff !important; font-size: 13px !important;}
.dataTables_wrapper .dataTables_length {position: absolute; left: 0; bottom: 4px;}
.dataTables_length select {display: inline-block; height: 30px; padding: 0 20px 0 5px; font-size: 13px; border: 1px solid #C7D0D3; border-radius: 3px; background: #fff url(../images/arw_bottom_bk.png) right 7px top 50% no-repeat; transition: all 0.3s ease-out;}
.dataTables_scrollHead,
table.DTFC_Cloned thead {background: #4e8692; color: #fff;}
table.dataTable thead th {padding: 10px 0; border-bottom: 1px solid #C7D0D3; text-align: center;}
table.dataTable thead th:first-child {background-image: none;}
table.dataTable thead th:nth-child(6) .iptBox {width: 40px; margin: 0 0 0 10px;}
table.dataTable thead th:nth-child(6) .iptBox input {color: #174b56 !important;}
table.dataTable tbody td {border-right: 1px dotted #C7D0D3; border-bottom: 1px dotted #C7D0D3; text-align: center;}
table.dataTable tbody td:nth-child(4) {text-align: left; cursor: default;}
table.dataTable tbody td:nth-child(4).active {box-shadow: inset 1px 1px 0 #009583, inset -1px -1px 0 #009583;}
table.dataTable tbody td:nth-child(6).active {background: #fdeddc;}
table.dataTable tbody td:last-child {border-right: none;}
table.dataTable tbody tr:last-child td {border-bottom: none;}
table.dataTable tbody tr.currentPlay td:nth-child(1),
table.dataTable tbody tr.currentPlay td:nth-child(2),
table.dataTable tbody tr.currentPlay td:nth-child(3),
table.dataTable tbody tr.currentPlay td:nth-child(4) {font-weight: 700;}
.dataTables_wrapper.no-footer .dataTables_scrollBody {border-top: 1px solid #C7D0D3; border-bottom: 1px solid #C7D0D3;}
.pageing {display:inline-block; margin:0 0 0 10px;}
.pageing a {display:inline-block; overflow:hidden; width:20px; height:20px; text-align:center; line-height:26px; text-indent:-999px; border:none; border-radius:3px; vertical-align: middle;}
.pageing a.btn_page_prev {background:#fff url("../images/arw_top_gr.png") 50% 50% no-repeat; background-size:20px;}
.pageing a.btn_page_next {background:#fff url("../images/arw_bottom_gr.png") 50% 50% no-repeat; background-size:20px;}
.pageing .page {display:inline-block; width:auto; margin:0 5px 0 0; color:#666; line-height:28px;}
.pageing .page .nowNum {padding:0 3px 0 0; font-weight:700;}
.pageing a.disabled {opacity:0.5 !important;}
table.dataTable tbody td em.findElement {font-weight:700;}
table.dataTable tbody td em.findElement.selected {background:#ffb624;}
/* //dataTable */

/* consultBox */
.consultBox {width: 100%; padding: 10px; border-radius: 3px; box-shadow: 0 1px 4px 0 rgba(44, 63, 81, 0.1); box-sizing: border-box; background: #fff;}
.consultBox .player {display: block; text-align: left;}
.consultBox .player .playerBox {float: none;}
.consultBox .term_srch_box {display: block; float: none; margin: 10px 0 0; text-align: center;}
.consultBox .term_srch_box .srchBox {width: 200px;}
/* //consultBox */

/* conversationBox */
.conversationBox {overflow: auto; width: 100%; height: 500px; margin: 10px 0 0; padding: 5px; border-radius: 3px; box-sizing: border-box; background: #b2ced5;}
.conversationBox ul {overflow: hidden;}
.conversationBox li {display: block; position: relative; margin: 28px 0 0; padding: 10px; border-radius: 5px; box-sizing: border-box; clear: both;}
.conversationBox li.currentPlay {font-weight: 700;}
.conversationBox li.currentPlay span {font-weight: 400;}
.conversationBox li:first-child {margin: 18px 0 0;}
.conversationBox li span {position: absolute; top: -18px; font-size: 12px;}
.conversationBox .custom {background: #fbdb67;}
.conversationBox .custom span {right: 0;}
.conversationBox .counselor {background: #fff;}
.conversationBox .counselor span {left: 0;}
.conversationBox em.findElement {font-weight:700;}
.conversationBox em.findElement.selected {background:#ffb624;}
/* //conversationBox */

/* -------------------- pop_cs_stt_type2 page -------------------- */
.popup_wrap.small .consultBox .player {position: relative;}
.popup_wrap.small .customInfo tbody td .consult_time {width: 155px;}
.popup_wrap.small .customInfo tbody td .consult_time:first-child {margin: 0 0 5px;}
.popup_wrap.small .playerBox .player_bar {position: absolute; top: 12px;}
.popup_wrap.small .playerBox .player_bar .player_bar_streaming {width: 120px;}
.popup_wrap.small .playerBox .player_time {position: absolute; top: 16px; left: 32px; width: 120px;}
.popup_wrap.small .playerBox .player_time span {margin: 0 9px;}
.popup_wrap.small .playerBox .player_time .current {margin: 0 30px 0 0;}
.popup_wrap.small .playerBox .player_time .duration {margin: 0 0 0 30px;}
.popup_wrap.small .playerBox .player_volume {position: absolute; right: 32px;}
.popup_wrap.small .playerBox .player_volume .player_bar_adjust {top: 15px; left: 24px;}
.popup_wrap.small .playerBox .player_volume .player_bar_adjust span {width: 50px;}
.popup_wrap.small .pyr_speed {float: right;}

/* -------------------- pop_tm_qa_targetSet page -------------------- */
.target_setArea {overflow: hidden;}
.target_setArea h2 {margin: 0 0 20px; padding: 0 0 3px; font-size: 15px; text-align: right;}
.target_setArea h2 p {display: inline-block; padding: 0 20px; border-radius: 20px; box-shadow: 0 1px 4px 0 rgba(44, 63, 81, 0.1); background: #f9fafb; line-height: 40px;}
.target_setArea h2 .iptBox input {border: none; border-radius: 0; background: none;}
/* .target_setArea h2 span {font-size: 12px;} */
.target_setArea h2 span em {display: inline-block; width: 60px; margin: 0 10px;}
.target_setArea .fl,
.target_setArea .fr {width: calc(50% - 10px);}
.target_setArea .set_condition dt {overflow: hidden; padding: 0 0 5px; border-bottom: 2px solid #3f3f3f; font-size: 14px; font-weight: 700; line-height: 30px;}
.target_setArea .set_condition dt span {vertical-align: middle;}
.target_setArea .set_condition dt .iptBox {float: right;}
.target_setArea .set_condition dt .iptBox input {width: 50px; border-color: #dedede;}
.target_setArea .set_condition dd {position: relative; width: 100%; height: 250px; margin: 0 0 20px; padding: 10px; border-radius: 0 0 3px 3px; box-shadow: 0 1px 4px 0 rgba(44, 63, 81, 0.1); box-sizing: border-box; background: #f9fafb; text-align: center;}
.target_setArea .set_condition dd > div {display: inline-block;}
.target_setArea .set_condition dd .sltArea {overflow: auto; width: 265px; height: 100%; padding: 5px; border: 1px solid #cfd5eb; border-radius: 3px; box-sizing: border-box; background: #fff;}
.target_setArea .fr .set_condition:nth-child(2) dd .sltArea {width: 100%;}
.target_setArea .set_condition .btnBox {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
.target_setArea .set_condition .btnBox a {display: block; width: 20px; height: 20px; margin: 10px 0; padding: 0;}
.target_setArea .set_condition .btnBox a.btn_move_right {background: #019582 url('../images/arw_right_w.png') 50% 50% no-repeat; background-size: 15px;}
.target_setArea .set_condition .btnBox a.btn_move_left {background: #019582 url('../images/arw_left_w.png') 50% 50% no-repeat; background-size: 15px;}
.target_setArea .set_condition .btnBox span {display: inline-block; overflow: hidden; text-indent: -999px;}
.target_setArea .fl dl:nth-child(1) dd {height: 420px;}
.target_setArea .fl dl:nth-child(2) dd {height: 80px; line-height: 60px;}
.target_setArea .fl dl:nth-child(2) dd input {width: 50px; padding: 0 5px; border: 1px solid #dedede; border-radius: 3px; box-sizing: border-box; line-height: 30px;}
.target_setArea .sltArea {text-align: left;}
.target_setArea > .btnBox {text-align: right; clear: both;}
.target_setArea > .btnBox a {background: #019582; color: #fff; font-weight: 700; line-height: 30px;}

/* tree multiselect */
div.tree-multiselect {height: 100%; border: none;}
.target_setArea .set_condition dd div.tree-multiselect .sltArea {width: 280px;}
div.tree-multiselect .selections {margin: 0 10px 0 0;}
div.tree-multiselect div.title {position: relative; padding: 0 0 0 52px; box-sizing: border-box; background: none; color: inherit; line-height: 25px;}
div.tree-multiselect div.title:before {content: ''; position: absolute; top: 13px; left: 19px; width: 10px; height: 1px; border-top: 1px dotted #000;}
div.tree-multiselect div.item {line-height: 23px;}
div.tree-multiselect div.title > span.collapse-section {position: absolute; top: 5px; left: 0;}
div.tree-multiselect div.title > span.collapse-section:after {content: '\2212'; position: absolute; display: block; width: 17px; height: 17px; border: 1px solid rgba(11,42,74,0.3); border-radius: 3px; box-sizing: border-box; background: #fff; font-size: 14px; font-weight: 700; text-align: center; line-height: 15px; cursor: pointer; z-index: 10;}
div.tree-multiselect div.title > span.collapse-section:before {content: ''; position: absolute; top: 10px; left: 8px; height: 25px; border: 1px dotted #000; border-top: none; border-right: none;}
div.tree-multiselect div.title > span.collapse-section:before {}
div.tree-multiselect div.section.collapsed > div.title span.collapse-section:after {content: '\002B'; position: absolute; display: block; width: 17px; height: 17px; border: 1px solid rgba(11,42,74,0.3); border-radius: 3px; box-sizing: border-box; background: #fff; font-size: 14px; font-weight: 700; text-align: center; line-height: 12px; cursor: pointer;}
div.tree-multiselect div.section > div.section,
div.tree-multiselect div.section > div.item {position: relative; padding-left: 23px;}
div.tree-multiselect div.section > div.item {padding: 0 0 0 36px;}
div.tree-multiselect div.section > div.section:before {content: ''; position: absolute; top: -12px; left: 11px; height: 100%; border: 1px dotted #000; border-top: none; border-right: none;}
div.tree-multiselect div.section .section:last-child > div.section:last-child:before {content: none;}
div.tree-multiselect input[type=checkbox] {position: relative; margin: -1px; padding: 0; clip: rect(0,0,0,0); border: 0;}
div.tree-multiselect input[type=checkbox]:before {content: ''; position: absolute; top: 3px; left: -25px; width: 17px; height: 17px; margin: -1px 0 0 0; line-height: 15px; text-align: center; border: 1px solid rgba(11,42,74,0.3); border-radius: 3px; box-sizing: border-box; background: #fff; cursor: pointer;}
div.tree-multiselect input[type=checkbox]:checked:before {content: '\2713'; color: #fff; border-color: #009583; background: #009583;}
div.tree-multiselect span.section-name {float: none; margin: 0 10px 0 0; font-style: normal;}
div.tree-multiselect span.remove-selected {float: right; width: 20px; height: 20px; margin: 2px 0 0; padding: 0; line-height: 18px; text-align: center;}
div.tree-multiselect>div.selected>div.item {background: none;}
.sltArea .product_list li {line-height: 25px;}
.sltArea .product_list .chkBox input[type="checkbox"] + label:before {top: 5px;}
.sltArea .product_list .chkBox input[type="checkbox"] + label {font-size: inherit;}
.sltArea .product_list .chkBox input[type="checkbox"]:checked + label {color: inherit;}
