@charset "UTF-8";
/* MINDsLab. NBR. 20200903 */

/* -------------------- layout -------------------- */
#wrap {width: 100%; min-width: 1280px; height: 100%;}
#header {position: absolute; width: 100%; min-width: 1280px; height: 90px; box-shadow: 0 1px 4px 0 rgba(44, 63, 81, 0.1); z-index: 5;}
#container {display: table; table-layout: fixed; position: relative; width: 100%; height: 100%; padding: 90px 0 0; background: #e9f1f3;}
#contents {width: 100%; height: 100%; padding: 20px; box-sizing: border-box;}

/* home - dashboard page */

/* cs - stt page */
/* dataTable */
.dataTableBox {width: 100%;} /* datatable을 감싸는 박스 추가 */
table.dataTable {width: 100% !important; table-layout: fixed;}
.dataTables_wrapper {width: 100%; text-align: center;}
.dataTables_wrapper .dataTables_info {position: absolute; left: 115px; padding: 10px 0 0; line-height: 31px;}
div.dt-buttons {position: absolute; right: 0; bottom: 4px; height: 30px;}
button.dt-button, div.dt-button, a.dt-button, button.dt-button:active:not(.disabled), button.dt-button:hover:not(.disabled), div.dt-button:hover:not(.disabled), a.dt-button:hover:not(.disabled),button.dt-button:focus:not(.disabled), div.dt-button:focus:not(.disabled), a.dt-button:focus:not(.disabled), button:active:not(.disabled):hover:not(.disabled) {margin: 0 !important; padding: 5px 15px !important; border: none !important; border-radius: 3px !important; box-shadow: none !important; background: #009583 !important; color: #fff !important; font-size: 13px !important;}
.dataTables_wrapper .dataTables_length {position: absolute; left: 0; bottom: 4px;}
.dataTables_length select {display: inline-block; height: 30px; padding: 0 20px 0 5px; font-size: 13px; border: 1px solid #C7D0D3; border-radius: 3px; background: #fff url(../images/arw_bottom_bk.png) right 7px top 50% no-repeat; transition: all 0.3s ease-out;}
.dataTables_scrollHead,
table.DTFC_Cloned thead {background: #4e8692; color: #fff;}
table.dataTable thead th {padding: 10px 0; border-bottom: 1px solid #C7D0D3; text-align: center;}
table.dataTable thead th:first-child {background-image: none;}
table.dataTable tbody td {overflow: hidden; border-right: 1px dotted #C7D0D3; border-bottom: 1px dotted #C7D0D3; text-align: center; text-overflow: ellipsis; white-space: nowrap;}
table.dataTable tbody td:last-child {border-right: none;}
table.dataTable tbody tr:hover td {background: #E9F1F3;}
table.dataTable tbody tr:last-child td {border-bottom: none;}
.dataTables_wrapper.no-footer .dataTables_scrollBody {border-top: 1px solid #C7D0D3; border-bottom: 1px solid #C7D0D3;}
table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td.dtr-control,
table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>th.dtr-control {padding: 8px 10px;}
table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td.dtr-control:before,
table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>th.dtr-control:before {content: none;}
div.DTFC_LeftWrapper table.dataTable.no-footer {border-bottom: 1px solid transparent;}
div.DTFC_LeftWrapper table.dataTable.no-footer tbody td {background: #f3f8f9; text-align: center;}
.dataTables_wrapper .dataTables_paginate {display: inline-block; overflow: hidden; float: none; padding: 10px 0 0;}
.dataTables_wrapper .dataTables_paginate span {display: inline-block; float: left;}
.dataTables_wrapper .dataTables_paginate .paginate_button {float: left; width: 30px; height: 30px; border: none; color: #174b56 !important;}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {color: #174b56 !important; border: none; background: none;}
.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button:active {border: none; box-shadow: none; background: none;}
.dataTables_wrapper .dataTables_paginate .paginate_button.current {font-weight: 700;}
.dataTables_wrapper .dataTables_paginate .paginate_button img {position: absolute; top: 0; left: 0;}
.dataTables_wrapper .dataTables_paginate .paginate_button.first {background: url('../images/ico_first.png')50% 50% no-repeat;}
.dataTables_wrapper .dataTables_paginate .paginate_button.first.disabled {background: url('../images/ico_first_g.png')50% 50% no-repeat;}
.dataTables_wrapper .dataTables_paginate .paginate_button.previous {background: url('../images/ico_prev.png')50% 50% no-repeat;}
.dataTables_wrapper .dataTables_paginate .paginate_button.previous.disabled {background: url('../images/ico_prev_g.png')50% 50% no-repeat;}
.dataTables_wrapper .dataTables_paginate .paginate_button.next {background: url('../images/ico_next.png')50% 50% no-repeat;}
.dataTables_wrapper .dataTables_paginate .paginate_button.next.disabled {background: url('../images/ico_next_g.png')50% 50% no-repeat;}
.dataTables_wrapper .dataTables_paginate .paginate_button.last {background: url('../images/ico_last.png')50% 50% no-repeat;}
.dataTables_wrapper .dataTables_paginate .paginate_button.last.disabled {background: url('../images/ico_last_g.png')50% 50% no-repeat;}
/* //dataTable */

/* tm - stt page */
/* dataTable */
.dtr-control {outline: none;}
.tm_qa_target .srchArea tbody td input.iptDateTime,
.tm_qa_target .srchArea tbody td input.ta_score {width: 110px;}
.tm_qa_target .dataTableBox .btnBox {display: inline-block; margin: 0 0 10px;}
.tm_qa_target .dataTableBox .btnBox a {margin: 0 6px 0 0; background: #019582; color: #fff; line-height: 28px;}
.tm_qa_target .dataTableBox .btnBox a.btn_target {opacity: 0.5; pointer-events: none;}
.tm_qa_target .dataTableBox .btnBox a.btn_cancel {opacity: 0.5; pointer-events: none;}
.tm_qa_target .dataTableBox .btnBox a.on {opacity: 1; pointer-events: all;}
.tm_qa_target .dataTableBox .chk_only_box input[type="checkbox"]:before {left: -10px;}
.tm_qa_target .dataTables_info .select-info {display: none;}
.tm_qa_target .dataTables_wrapper .dataTables_info {position: static;}
